@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
}

.main-menu li>a {
    text-decoration: none;
    font-size: 20px;
    transition: all 1s linear;
}
a:hover{
    color: red
}

.main-menu li{
    list-style-type: none;
}
.main-menu{
    background-color: gray;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    overflow: hidden;
    z-index: 1500;
}
.main-menu:hover{
    width: 300px;

}
::marker{
    font-size: 35px;
}