*{
  box-sizing: border-box;

}
.conteiner{
  min-height: 100vh;
  position: relative;
}
.box{
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
}
.box:nth-child(1) {
  background-color: palevioletred;
  top: 30px;
  left: 220px;
}
.box:nth-child(2) {
  background-color: blue;
  top: 140px;
  left: 300px;
}
 .box:nth-child(3) {
  background-color: green;
  top: 250px;
  left: 390px;
 }



















/*.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
      
  }
  .box::before {
    font-size: 20px;
  }.box:nth-child(1) {
    animation: animateX50 3000ms infinite 1000ms;
    background-color: orange;
  }
  @keyframes animateX50{
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(300px);
    }
  
    100% {
      transform: translateX(0);
    
  }
}*/

